<div class="content">
    <p>Ideias para este projeto:</p>
    <p>&emsp;Com o passar do tempo o bicho vai ganhando xp; [3 xp p/m ou assim, também pode se comprar algo na loja para aumentar isto durante algum tempo, e permanentemente também]</p>
    <p>&emsp;Usar a shop para comprar comida e equipamento, e outros itens;</p>
    <p>&emsp;Manda-lo em missoes para ganhar guito; [provavelmente também ganharia experiencia]</p>
    <p>&emsp;No inicio podemos escolher entre N de tamagochis, com o passar do tempo e dos niveis eles vão evoluindo para outros, sendo que cada um tem a sua linhagem, até chegar ao final. (neste momento o final seria chegares a ultima evolucao do tamagochi que tinhas escolhido);</p>
    <p>&emsp;Outro</p>
</div>
<br>
<div class="content">
    <p>Tickets:</p>
    <p>&emsp;Decidir quais os tamagochis iniciais e as suas linhagens (provavelmente também terei que criar outros monstros) - </p>
    <p>&emsp;Base de dados:</p>
    <p>&emsp;&nbsp;&nbsp;&nbsp;&nbsp;Conexao - ✔️</p> 
    <p>&emsp;&nbsp;&nbsp;&nbsp;&nbsp;Tabelas - 🌌</p>
    <p>&emsp;&nbsp;&nbsp;&nbsp;&nbsp;Mostrar informação da base de dados na tela - 🌌</p>
    <p>&emsp;login: backend - 🌌</p>
    <p>&emsp;login: frontend - 🌌</p>
    <p>&emsp;missoes: backend - 🌌</p>
    <p>&emsp;missoes: frontend - 🌌</p>
    <p>&emsp;loja: backend - 🌌</p>
    <p>&emsp;loja: frontend - 🌌</p>
</div>
<br>
<div class = "content">
    <p>Dicas:</p>
    <p>&emsp;Ver e-game database para fazer o login de forma mais facil</p>
</div>

<div class="content">
    <p>Simbolos:</p>
    <p>&emsp;feito: ✔️</p>
    <p>&emsp;não da: ❌</p>
    <p>&emsp;nada ainda: 🌌</p>
</div>